body{
    color: #5a5a5a;
    font-family: Montserrat,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
#c{
    background: #78c2ad;
}
.bg-primary {
    background-color: #78c2ad!important; }
#change :hover{
    color: #fff;
    background-color: #5eb69d;
    border-color: #55b298;
    box-shadow: 0 0 0 0.2rem rgb(140 203 185 / 50%);
    outline: 0;
}
.list-group-item{
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888;
}
#w-feels-like{
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #888;
    padding: 12px 20px;
}
    body{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }